*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    background-color: #f1f1f1;
    padding: 100px 40px 30px;
}
#app {
    max-width: 1260px;
    margin: 0 auto;
}
/* ------- タブレットデザイン -------- */
@media screen and (max-width: 768px) {
    #app {
        max-width: 700px;
    }
    body {
        padding: 100px 10px 30px;
    }
}
/* ------ スマートフォンデザイン ------ */
@media screen and (max-width: 480px) {
    .modal-content-inner {
        width: 90% !important;
    }
    .login-form input,
    .register-form input,
    .register-form select {
        width: 80% !important;
    }
}
